<%= render 'books/busca' %>
<table>
  <tr>
    <th>Título</th>
    <th>Autor</th>
    <th>ISBN</th>
    <th>Categoria</th>
    <th>Local</th>
    <th>P&aacute;ginas</th>
    <th>Dono</th>
    <th>Locador</th>
    <th></th>
    <th></th>
  </tr>

<% @search.each_hit_with_result do |hit, book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.isbn %></td>
    <td><%= book.category %></td>
    <td><%= book.current_location %></td>
    <td><%= book.pages %></td>
    <td><%= book.owner %></td>
    <td><%= book.with %></td>
    <td>
      <% if book.owner == current_user %>
        <%= link_to 'Editar', edit_book_path(book) %>
      <% elsif book.with == nil %>
        <%= link_to 'Emprestar', lend_book_path(book), :method => :post %>
      <% elsif book.with == current_user %>
        <%= link_to 'Devolver', return_book_path(book), :method => :post %>
      <% end %>
    </td>
    <td><%= link_to('Apagar', book, :confirm => 'Tem certeza?', :method => :delete) if book.owner == current_user %></td>
  </tr>
<% end %>
</table>
<div id="navigation">
  <%= paginate @search %>
</div>
