<div id="signin">
	<h1>Arquive e compartilhe livros</h1>
	<h2>Existem <span>15</span> livros disponíveis. Faça seu login!</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "signin" }) do |f| %>

	  	<p>
			<%= f.label :email, "E-mail" %><br />
	  		<%= f.email_field :email %>
		</p>

	  	<p>
			<%= f.label :password, "Senha" %><br />
	  		<%= f.password_field :password %>
		</p>
		
		<p>
		<% if devise_mapping.rememberable? -%>
			<%= f.check_box :remember_me %><%= f.label :remember_me, "Lembrar" %>
	  	<% end -%>
		</p>
		
	  	<p><%= f.submit "Logar" %></p>

	<% end %>

	<p><%= render :partial => "devise/shared/links" %></p>
</div>