<!DOCTYPE html>
<html>
<head>
	<title>Livreiro - Arquivo e Compartilhamento de livros</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<a class="logo" href="">Livreiro</a>
		<div class="menu">
			<% if user_signed_in? %>
				<div class="welcome">
					Olá <%= current_user.name %>. <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
				</div>
				<div class="links">
					<%= link_to "Adicionar Livro", new_book_path %>
					<%= link_to "Todos os Livros", books_path %>
					<%= link_to "Livros Livres", free_books_path %>
					<%= link_to "Seus Livros", books_user_path(current_user) %>
					<%= link_to "Livros emprestados por você", lent_user_path(current_user) %>
					<%= link_to "Livros que você emprestou", lended_user_path(current_user) %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="main-content">
  		<div class="messages">
    		<p class="notice"><%= notice %></p>
    		<p class="alert"><%= alert %></p>
  		</div>
		<%= yield %>
	</div>
</body>
</html>